/* ================= NAVBAR ================= */
.navbar{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:10px 30px;
  background:rgb(76, 144, 233);
  box-shadow:0 2px 10px rgba(0,0,0,0.08);
  position:sticky;
  top:0;
  z-index:100;
  padding: 18px;
  border-radius: 10px;

  height:75px; /* 🔥 balanced height */
}

/* ================= LOGO ================= */
.logo{
  display:flex;
  align-items:center;
  gap:10px;
  cursor:pointer;


  /* ❌ REMOVE THIS */
  /* zoom:4; */
}

/* LOGO IMAGE */
.logo img{
  height:85px;   /* 🔥 perfect size */
  width:auto;
  object-fit:contain;
  padding: 20px;
}

/* TEXT */
.logo span{
  font-size:22px;   /* 🔥 MATCHED SIZE */
  font-weight:600;
  color:#1b1b1b;
}

/* ================= SEARCH ================= */
.search-box{
  display:flex;
  width:45%;
  gap:8px;
}

.search-box input{
  flex:1;
  padding:10px 15px;
  border-radius:25px;
  border:1px solid #ddd;
  outline:none;
  background:#f5f5f5;
}

.search-box button{
  padding:10px;
  border:none;
  background:#7b3fe4;
  color:white;
  border-radius:50%;
  cursor:pointer;
  transition:0.2s;
}

.search-box button:hover{
  background:#5f2ed6;
}

/* IMAGE BUTTON */
.img-btn{
  background:#eee !important;
  color:black !important;
}

/* ================= RIGHT ================= */
.right{
  display:flex;
  align-items:center;
  gap:15px;
}

.icons{
  display:flex;
  align-items:center;
  gap:18px;
}

.icons span{
  cursor:pointer;
  font-size:30px;
  color:#333;
}

/* LOGOUT BUTTON */
.icons button{
  padding:7px 14px;
  border:none;
  background:#ff4d4d;
  color:white;
  border-radius:8px;
  cursor:pointer;
  transition:0.2s;
}

.icons button:hover{
  background:#e63b3b;
}

a{
  color:#333;
  text-decoration:none;
}

.cart-icon{
  position:relative;
  cursor:pointer;
  font-size:15px;
}

.cart-badge{
  position:absolute;
  top:-8px;
  right:-10px;
  background:rgb(241, 237, 237);
  color:white;
  font-size:10px;
  padding:2px 6px;
  border-radius:50%;
}