<footer class="footer">

  <div class="footer-top">

    <!-- LOGO -->
    <div class="footer-section">
      <h2>🛒 Smart Retail</h2>
      <p>Your smart shopping partner. Fast, reliable & modern retail system.</p>
    </div>

    <!-- QUICK LINKS -->
    <div class="footer-section">
      <h3>Quick Links</h3>
      <a routerLink="/">Home</a>
      <a routerLink="/products">Products</a>
      <a routerLink="/cart">Cart</a>
      <a routerLink="/orders">My Orders</a>
    </div>

    <!-- CONTACT -->
    <div class="footer-section">
      <h3>Contact</h3>
      <p>📍 Vapi, India</p>
      <p>📧 support@smartretail.com</p>
      <p>📞 +91 9876543210</p>
    </div>

    <!-- SOCIAL -->
    <!-- <div class="footer-section">
      <h3>Follow Us</h3>
      <p>🌐 Instagram</p>
      <p>💼 LinkedIn</p>
      <p>💻 GitHub</p>
    </div> -->

  </div>

  <div class="footer-bottom">
    © 2026 Smart Retail | All Rights Reserved
  </div>

</footer>